
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  color: var(--text);
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.personal-layout {
  flex: 1;
}
